body{
    padding: 0;
    margin: 0;
    background-color: #e9e9e9;
    width: 100%;
    height: 100%;
    
}
.wrapper{
    background-color:#ffffff;
    width: 100%;
    height: 1000px;
   border-radius: 20px;
    margin-left: 100px ;
    margin-top: 20px;
    
}
.hero{
    margin-left: 50px;
    margin-top: 70px;
    /* background-color:green; */
    width: 80%;
    height: 1000px;
}
.logo-image{
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.gather-text{
    margin-left: 60px;
    margin-top:-35px;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif 
  } 

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
   }

   .nav-links li {
    list-style-type: none;
    display: inline-block;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
   } 
   

   .nav-links li a {
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 16px;  
      color: black;
      text-decoration: none;
    }
    
   
/* .nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color:blue
} */

.login-button{
    
    background-color: black;
    width:90px;
    color: #ffffff;
    height: 35px;
    border-radius: 15px;
    margin-top: 20px;
}  

main{
    padding: 30px 10%;
    
}

.gather-block{
    width: 60%;
    /* padding-right: 200px; */
    margin-left: 20px;
    /* border: 5px solid red; */
}
.gather-paragraph{
    font-size: 100px;
    /* border: 5px solid blue; */
    margin-top: -20px;
    padding-right: -100px;
    
}
.second-gather-paragraph{
    /* border: 5px solid greenyellow; */
    margin-top: -50px;
}
.second-block{
    /* border: 5px solid blue; */
    margin-right: 270px;
    margin-left: 70%;
    margin-top: -240px;
    
}
.vertical-line{
    border-left: 6px solid #f3f3f3;
    height: 240px;
    position: absolute;
    margin-top: -210px;
    left: 68%;
}
.third-block{
    /* border: 5px solid red; */
    margin-right: 10px;
    margin-left: 90%;
    margin-top: -170px;
}
.black-icon{
    width: 40px;
}
.black-icon-2{
    width: 40px;
}
.second-block h2{
    font-size: 30px;
    font-weight: bolder;
}
.third-block h2{
    font-size: 30px;
    font-weight: bolder;
}


/* new lines of css code */
.container-1{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
   grid-template-rows: 200px 200px ;
   /* width: 100%;
   height: 370px; */
   background-color: #ffffff;
   gap: 30px;
   border: none;
   margin-left: 330px;
   width: min(63%, 95rem) ;
   margin-top: -23%;
   border-radius: 10px;
   justify-content: space-between;
   
   }
   .black-box{
    
    /* width: 400px;
    padding-right: -60%;
    margin-top: -23%; */
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 20px;
   grid-column: 1/3;
   grid-row: 1;
   border-radius: 10px;
    color: white;
    /* background-color: black; */
    text-align: center;
    
  
}
.sixty-four{
    border-radius: 30px;
    height: 150px;
}
.gather-image{
    border-radius: 30px;
    /* border: 5px solid white ; */
    margin-top: 8px;
    margin-left: 30px;
    width: 160px;
}


.orange-box{
    
    /* width: 400px; */
    display: flex;
    /* margin-right: 6000px;
    margin-left: 70%; */
    justify-content: space-between;
    background-color:#ff9e62;
    padding: 20px;
    grid-column: 4/6;
    grid-row: 1;
    border-radius: 10px;
    
}
.insight-image-text{
    /* border: 5px solid blue; */
    margin-left: 15px;
    margin-top: -15px;
    padding-right: -20px;
    
}
.insight-image-text-get{
  
    font-size: 25px;
    margin-top: 25px;
   
}
.insight-image-text-gather{
    margin-left: -4px;
    margin-top: 30px;
    color: #c77345;
   
}
.insight-image{
    border-radius: 30px;
    
    width: 180px;
    height: 70px;
  padding-right: 15px;
}
.orange-second-block{
    text-align: center;
    margin-left: -700px;
   
}
.orange-second-block h4{
    /* border: 5px solid red; */
    margin-top: 5px;
    padding-right:20px;
}


.ash-box{
    
    background-color: #d9d9d9;
    padding: 20px;
    grid-column: 3;
    grid-row: 1/3;
    border-radius: 10px;
}
.join-button{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 60px;
    margin-top: 15px;
    
}
.join-image-text{
    margin-left: 15px;
    /* border: 5px solid purple; */
}
.inner-black-box{
    text-align: center;
    grid-column: 3/4;
    grid-row: 3/4;
    height: 190px;
    margin-top: 34px ;
    margin-left: 15px;
    margin-right: 15px;
    background-color: black;
    border-radius: 10px;
    color: white;
}
.inner-black-box-text{
    padding-top: 20px;
    /* border: 5px solid red; */
}


.small-blue-box{
    
    background-color: #6794ff;
    padding: 20px;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 2/3;
    /* margin-right: 70%; */
}
.blue-n-logo{
    border-radius: 20px;
    margin-top: 15px;
    height: 50px;
}
.Fast-forward{
    margin-left: 15px;
    color: #4870d0;
}


.small-orange-box{
   
    background-color: #ff9e62;
    padding: 20px;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 2/3;
}
.orange-n-logo{
    margin-top: 15px ;
    height: 50px;
}
.flexible-text{
    margin-left: 15px;
    color: #cb7146;
}


.big-blue-box{
    
    background-color: #6794ff;
    padding: 20px;
    border-radius: 10px;
    grid-column: 4/6;
    grid-row: 2/3;
}
.secure-text{
    margin-top: 20px;
    margin-right: 250px;
    margin-left: 10px;
    padding-top: 12px;

}
.secure-image-text-gather{
    /* border: 5px solid green; */
    margin-left: 200px;
    margin-top: -25px;
    
}

